<div class="container-fluid" style="background-color: red; height: 100%;">
    <div class="row">
        <div class="col-6">
            <div class="row">

                <div class="col-2" *ngFor="let i of itens" id="card" (click)="additem(i)">
                    <div class="card">
                        <img [src]="i.img" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">{{i.nome}}</h3>
                            <p class="card-text">{{i.descricao}}</p>
                            <p class="card-valor">{{i.valor | currency:'BRL'}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <form [formGroup]="formPedido">

                <div class="row">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Cliente</span>
                        <input type="text" class="form-control" formControlName="nome" placeholder="Nome" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Observação</span>
                        <input class="form-control" formControlName="obs" ria-label="With textarea">
                    </div>
                </div>
            </form>
            <div class="row">
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Itens do Pedido</mat-label>
                    <mat-chip-list #chipList aria-label="Itens do Pedido" multiple>
                        <mat-chip *ngFor="let item of itemSelect" removable="true" (removed)="removeItem(item)"> {{item.nome}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </mat-form-field>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" disabled value="{{valorTotal | currency:'BRL'}}">
                </div>

            </div>
            <div class="row">
                <button mat-raised-button [disabled]="!formPedido.valid" (click)="concluiPedido()">Concluir Pedido</button>
            </div>
        </div>
        <div class="col-5" style="width: max-content;">
            <div class="row" id="pedidos" style="height: 10vw;">
                <div class="card" *ngFor="let p of pedidos" id="card-pedido" (click)="concluir(p)">
                    <h3 class="card-title" style="font-weight: bold;">
                        {{p.nomeCliente}}
                    </h3>
                    <mat-label>Itens do Pedido</mat-label>
                    <mat-chip-list #chipList aria-label="Itens do Pedido" multiple>
                        <mat-chip *ngFor="let i of p.itens" style="font-size: xx-smaller;"> {{i.nome}}</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div class="row" style="height: 20vw; text-align: center;align-content:center;">
                <h1 style="font-size: 7vw; font-weight: bold;">
                    {{concluido.nomeCliente}}
                </h1>
            </div>
            <div class="row">
                <div class="card" *ngFor="let c of concluidos" id="card-pedido">
                    <h3 class="card-title" style="font-weight: bold;">
                        {{c.nomeCliente}}
                    </h3>
                    <mat-label>Itens do Pedido</mat-label>
                    <mat-chip-list #chipList aria-label="Itens do Pedido" multiple>
                        <mat-chip *ngFor="let i of c.itens" style="font-size: xx-smaller;"> {{i.nome}}</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
    </div>
</div>